header {
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-size: 22px;

        &:hover {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    img {
        height: 60px;

        &:hover {
            cursor: pointer;
        }

    }
}

.headerDark {
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);  
}

.darkLinks {
    a {
        color: black;
    
        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

